---
import Base from "../layouts/Base.astro"
---

<Base title="About">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam hic aspernatur et explicabo, placeat vitae dolorem itaque facere maxime! Necessitatibus odio, aperiam aliquam assumenda distinctio vel pariatur quam sunt enim?</p>
</Base>