---
import Base from "../layouts/Base.astro"
---

<Base title="Home">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consectetur delectus recusandae doloremque officiis quia! Dolorem eius et facere laboriosam quas vitae accusantium illum dolorum, quae consequatur, provident repudiandae aliquam.</p>
</Base>